.hero {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    text-align: center;
    background-color: var(--color-primary);
    color: white;
    padding: 0 20px;
}

.hero h1 {
    font-size: 5rem;
    font-weight: 700;
    margin-bottom: 10px;
}



.hero h1 span {
    color: var(--color-accent);
}



.hero p {
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 40px;
    opacity: 0.9;
}

.cta-button {
    background: var(--color-light);
    color: var(--color-bg-hero);
    padding: 15px 45px;
    border-radius: 50px;
    font-weight: 600;
    font-size: 1.1rem;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}